<footer class="ct-footer ct-u-sectionDark">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="ct-footer-logo ct-u-paddingTop50 ct-u-paddingBottom30">
                    <!--<img src="#" alt="">-->
                    <h3 class="ct-sectionHeader-title">Kite Ceará</h3>
                </div>
                <div class="col-md-6">
                    <p><h5>ADDRESS</h5></p>
                    <p>Lagoinha Beach, Paraipaba</br>
                    Ceará - Brazil</p>
                </div>
                <div class="col-md-6">
                    <p><h5>PHONE</h5></p>
                    <p><a href="tel:558592339582">+55 (85) 9233-9582 </a></br>
                    
                </div>
                </p>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50 ct-u-marginBottom15">
                    <div id="fb-root"></div>
                    <script>
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <h3 class="ct-sectionHeader-title">Facebook</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>

                        <div class="fb-page" data-href="https://www.facebook.com/Kite-Ceara-1423751977944376/" data-width="380" data-hide-cover="false" data-show-facepile="false" data-show-posts="false">
                            <blockquote cite="https://www.facebook.com/Kite-Ceara-1423751977944376/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Kite-Ceara-1423751977944376/">Kite Ceara</a></blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ct-footer-meta ct-u-sectionMotive ct-u-marginTop70">
        <div class="container">
            <ul class="ct-socials">
            </ul>
        </div>
    </div>
    </div>
    
    <script src="{{ '/bootstrap/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/dependencies.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/plugins/ct-mediaSection/js/jquery.stellar.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/plugins/ct-mediaSection/js/init.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/plugins/magnific-popup/jquery.magnific-popup.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/plugins/magnific-popup/init.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/plugins/slick/slick.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/plugins/slick/init.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/plugins/isotope/jquery.isotope.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/plugins/isotope/init.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/plugins/isotope/imagesloaded.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/js/modernizr.custom.js' | prepend: site.baseurl }}"></script>
    <script src="{{'/plugins/isotope/infinitescroll.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/bootstrap/js/jquery.touchSwipe.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/bootstrap/js/responsive_bootstrap_carousel.js' | prepend: site.baseurl }}"></script>
</footer>
<!--
<script src="{{'/plugins/isotope/jquery.isotope.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/plugins/isotope/imagesloaded.js' | prepend: site.baseurl }}"></script>

<script src="{{'/plugins/isotope/init.js' | prepend: site.baseurl }}"></script>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{{'/js/gmaps/gmap3.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/gmaps/init.js' | prepend: site.baseurl }}"></script>

<script src="{{'/js/onepager/jquery.pagescroller.lite.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/onepager/init.js' | prepend: site.baseurl }}"></script>

<script src="{{'/js/jquery.h5validate.js' | prepend: site.baseurl }}"></script>
<script src="{{'/form/js/contact-form.js' | prepend: site.baseurl }}"></script>
-->
