<body class="site-header">
    <div class="ct-preloader-container">                                            <!-- Preloader -->
        <div class="ct-preloader"><div><div><div><div><div><div><div><div><div><div></div></div></div></div></div></div></div></div></div></div></div>
    </div>
    <!-- start mobile menu -->
    <div class="ct-menuMobile">
        <div class="ct-menuMobile-logo">
            <a href="index.html"><img src="http://monsterdev.esy.es/site/img/shared/logo-white.png" alt=""></a>
        </div>
        <ul class="ct-menuMobile-navbar">
            <!--=========================================================================-->
            <li class="onepage">
                <a href="/">
                    <div class="ct-textEffect"><span data-content="Home">Home</span></div>
                </a>
            </li>
            <li class="onepage">
                <a href="services.html">
                    <div class="ct-textEffect"><span data-content="Services">Services</span></div>
                </a>
            </li>
            <li class="onepage">
                <a href="school.html">
                    <div class="ct-textEffect"><span data-content="Kite School">Kite School</span></div>
                </a>
            </li>
            <li class="onepage">
                <a href="region.html">
                    <div class="ct-textEffect"><span data-content="Region">Region</span></div>
                </a>
            </li>
            <li class="onepage">
                <a href="gallery.html">
                    <div class="ct-textEffect"><span data-content="Gallery">Gallery</span></div>
                </a>
            </li>
            <li class="onepage">
                <a href="contact.html">
                    <div class="ct-textEffect"><span data-content="Contact">Contact</span></div>
                </a>
            </li>
        </ul>
    </div>
    <!-- end mobile menu -->
    <div id="ct-js-wrapper" class="ct-pageWrapper" style="transform: translate3d(0px, 0px, 0px);">
        <nav class="navbar navbar-default ct-navbar ct-shadow ct-shadow--type1">
            <div class="navbar-header">
                <a class="ct-logoDark" href="index.html"><img src="http://monsterdev.esy.es/site/img/shared/logo.png" alt="" /></a>
                <a class="ct-logoWhite" href="index.html"><img src="http://monsterdev.esy.es/site/img/shared/logo.png" alt="" /></a>
            </div>
            <div class="container">
                <div class="ct-navbarBox">
                    <div class="ct-navbarBox-meta">
                        <div class="ct-langPicker">
                            <div class="ct-langPicker-content">
                                <a href="#"><img src="http://monsterdev.esy.es/site/images/content/flag-01.jpg" alt="" /></a>
                                <ul class="ct-langPicker-list">
                                    <li><a href="#">English <img src="http://monsterdev.esy.es/site/images/content/flag-01.jpg" alt=""/></a></li>
                                    <li><a href="#">Español <img src="http://monsterdev.esy.es/site/images/content/flag-03.jpg" alt=""/></a></li>
                                    <li><a href="#">Italiano <img src="http://monsterdev.esy.es/site/images/content/flag-02.jpg" alt=""/></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Flags -->
                    </div>
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <ul class="nav navbar-nav ct-navbar--fadeIn">
                    <!--=========================================================================-->
                    <li class="onepage">
                        <a href="http://monsterdev.esy.es/site">
                            <div class="ct-textEffect"><span data-content="Home">Home</span></div>
                        </a>
                    </li>
                    <li class="onepage">
                        <a href="school.html">
                            <div class="ct-textEffect"><span data-content="Kite school">Kite school</span></div>
                        </a>
                    </li>
                    <li class="onepage">
                        <a href="region.html">
                            <div class="ct-textEffect"><span data-content="Region">Region</span></div>
                        </a>
                    </li>
                    <li class="onepage">
                        <a href="gallery.html">
                            <div class="ct-textEffect"><span data-content="Gallery">Gallery</span></div>
                        </a>
                    </li>
                    <li class="onepage">
                        <a href="contact.html">
                            <div class="ct-textEffect"><span data-content="Contact">Contact</span></div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
